<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
	</configSections>

	<appSettings>
		<add key="CrmConn" value="Data Source=DESKTOP-PBOLLA9;Initial Catalog=CRM;Integrated Security=True;" />
	</appSettings>

	<connectionStrings>
		<add name="CrmConnection"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-PBOLLA9;Initial Catalog=CRM;Integrated Security=True;" />
	</connectionStrings>
</configuration>